
/* Section-119 Styles */
#section-119 {
	width: 100%;
	height: 25em;
	color: #fff;
	background-color: #222;
}
.content-slider {
	position: relative;
	width: 100%;
	height: 100%;
   }
.content-slider	input {display: none;}
	.slider {
		position: relative;
		width: inherit;
		height: inherit;
		overflow: hidden;
       }
		.banner {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 0;
			width: inherit;
			height: inherit;
			text-align: center;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			transition: all .5s ease;
           }
         .banner a {
         	text-decoration:none;
         }	
           	#banner-inner-wrapper1 {
				height: 100%;
				background-image: url("https://www.hectohealthcare.com/resources/images/main/main_introductin_img_02.jpg");
				box-sizing: border-box;
				background-size: cover;
				background-position: center bottom 100%;
               }
            #banner-inner-wrapper2 {
				height: 100%;
				background-image: url("https://www.samjinpharm.co.kr/front/kr/resources/img/custom/main_creation.png");
				box-sizing: border-box;
				background-size: cover;
				background-position: center top 50%;
               }
            
           	#banner-inner-wrapper3 {
				height: 100%;
				background-image: url("http://cdn.hitnews.co.kr/news/photo/202303/44381_56651_1017.jpg");
				box-sizing: border-box;
				background-size: cover;
				background-position: center top 20%;
               }
			#banner-inner-wrapper4 {
				height: 100%;
				background-image: url("http://www.philipmed.com/home/dist/img/intro/slide-03.jpg");
				box-sizing: border-box;
				background-size: cover;
               }
                   .banner-inner-wrapper h1 {
					font-size: 60px;
					line-height: 70px;
					font-weight: bold;
					color: white;
					text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
				}
				 .banner-inner-wrapper p {
				    font-size: 26px;
				    font-weight: bold;
				    color: #666666;
      	            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
				 }
                   .banner-inner-wrapper .line {
						display: block;
						width: 5em;
						height: 0.1875em;
						margin: 2.5em auto;
						background: #fff;
						
				}
				.learn-more-button {
					padding-bottom: 5em;
					z-index: 15 !important;
                   }
                   /*
				.learn-more-button	a {
						padding: 0.5em 2em;
						text-align: center;
						font-size: 1em;
						font-weight: bold;
						color: black;
						text-transform: uppercase;
						border: 0.1875em solid #FD9F28;
						border-radius: 20px;
                   }
                   .learn-more-button	a:hover {
							color: #e88382;
							border-color: #e88382;
							transition: .3s;
				}
				*/


        .controls {
            display: block;
            width: 70%;
            margin: 0 auto;
            color: #fff;
        }
        .controls label {
            position: relative;
            display: inline-block;
            width: 20%;
            height: 3.1em;
            overflow: hidden;
            margin: 0 1em;
            padding-top: 1em;
            text-align: left;
            text-transform: uppercase;
            cursor: pointer;
            transition: all .3s;
        }
        .controls label p{
            text-align: center;
            font-size: 1.5em;
            color: #EF605D;
            font-weight: 900;

        }
            .progressbar {
                position: absolute;
                top: 0;
                left: 0;
                height: 3px;
                width: 100%;
                background: #f6eac5;
                z-index: 100;
            }
            .progressbar-fill {
                position: inherit;
                width: inherit;
                height: inherit;
                margin-left: -100%;
                background: #e88382;
            }

            .progressbar-fill span {
						font-size: 1.4em;
						font-weight: 700;
					}
            .progressbar-fill span:hover {color: #e88382;}

		#banner1:checked ~ .slider #top-banner-1,
		#banner2:checked ~ .slider #top-banner-2,
		#banner3:checked ~ .slider #top-banner-3,
		#banner4:checked ~ .slider #top-banner-4 {
			opacity: 1;
			z-index: 1;
		}
		#banner1:checked ~ nav label:nth-of-type(1),
		#banner2:checked ~ nav label:nth-of-type(2),
		#banner3:checked ~ nav label:nth-of-type(3),
		#banner4:checked ~ nav label:nth-of-type(4) {
			cursor: pointer;
			color: #fff;
			transition: all .7s;
		}
		#banner1:checked ~ nav label:nth-of-type(1) .progressbar,
		#banner2:checked ~ nav label:nth-of-type(2) .progressbar,
		#banner3:checked ~ nav label:nth-of-type(3) .progressbar,
		#banner4:checked ~ nav label:nth-of-type(4) .progressbar {
			background: #fff;
		}
		#banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
		#banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
		#banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
		#banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
			animation: progressBarFill 7s linear;
		}


/* Animations  미디어 반응형으로 나오는 css코드*/
@keyframes progressBarFill {
	from {margin-left: -100%;}
	to {margin-left: 0;}
}

/* Media Queries */
@media only screen and (min-width: 1900px) {
	.main-header .header-wrapper {width: 57%;}
	#section-119 {height: 50em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 20em;}
}


@media only screen and (max-width: 1550px) {
	body {font-size: 18px;}
	.main-header .header-wrapper {width: 65%;}
	#section-119 {height: 45em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 13em;}
}

@media only screen and (max-width: 1366px) {
	body {font-size: 16px;}
	.main-header .header-wrapper {width: 70%;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 10em;}
}

@media only screen and (max-width: 1120px) {
	.main-header .header-wrapper .main-menu li {padding: 0.75em 1.4em;}
	#section-119 {height: 13em;}
	#section-119 .content-slider nav {bottom: -0.2em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 2em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 1em auto;}
}

@media only screen and (max-width: 1024px) {
	body {font-size: 14px;}
	.main-header .header-wrapper .main-menu li {padding: 0.75em 1.3em;}
	#section-119 .content-slider nav {bottom: 0;}
	#section-119 .content-slider nav .controls {width: 80%;}
}

@media only screen and (max-width: 860px) {
	.main-header .header-wrapper .main-menu li {padding: 0.75em 0.9em;}
	#section-119 {height: 10em;}
	#section-119 .content-slider nav {bottom: -1em;}
	#section-119 .content-slider nav .controls {width: 90%;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper h2 {font-size: 2em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper h1 {font-size: 4.5em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 3em;}
}

@media only screen and (max-width: 768px) {
	.main-header .header-wrapper .main-menu li {padding: 0.75em 0.5em;}
	#section-119 {height: 8em;}
	#section-119 .content-slider nav .controls {width: 100%;}
	#section-119 .content-slider nav .controls label {width: 19%; font-size: 0.8em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 3em auto;}
}

@media only screen and (max-width: 650px) {.main-header .header-wrapper {width: 95%;}}

@media only screen and (max-width: 480px) {
	.main-header .header-wrapper {width: 40%;}
	.main-header .header-wrapper .main-logo {display: none;}
	.main-header .header-wrapper .main-menu li {padding: 0.2em 0.3em;}
	.main-header .header-wrapper .main-menu li:last-child,
	.main-header .header-wrapper .main-menu li:nth-child(6) {padding: 0.2em 0.7em;}
	#section-119 {height: 6em;}
	#section-119 .content-slider nav {bottom: -0.5em;}
	#section-119 .content-slider nav .controls label {width: 40%; font-size: 0.7em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper h2 {font-size: 1.5em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper h1 {font-size: 3em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 3em auto;}
}
/***************************/
#tsvideo-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 99999;
    }

    #video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
	.videologo {
	  position: absolute;
      top: 20px;
      left: 20px;
      z-index: 199999;
	}
    #video-controls {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    #video-label {
      position: absolute;
      top: 37px;
      right: 120px;
    }
    #video-label label {
    	font-weight:bold;
    	font-size:20px;
    }

    #video-controls button {
      width:80px;
      height:60px;
      font-weight:bold;
      color:white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size :15px;
      border-radius: 10px;
      background-color: #FF9700;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    }

/* input hover 표시*/
.input-wrapper:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  border-radius: 0px 10px 10px;
}
.input-wrapper input:focus {
  outline: none;
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 300px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }
  
  .sidenav .container ul li {
  	padding: 20px 20px 20px 10px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
    justify-content: space-between;
    text-align: left;
    border-bottom: 3px dashed #F4F4F4;   
  }
  
  /* 사이드바 색 넣기 */

  .sidebar-header{
    padding: 20px;
    color: #F5F5F5;
    background-color: #FDCDBC;
  }

  .sidenav ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    .sidenav ul li a:hover {
        color: #EF605D;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #ffcc19;
    transition: all 0.3s;
    text-decoration: none;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding-left:20px;
    padding-right: 20px;    
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/********** Template CSS **********/
:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}



/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar-white .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: fixed;
    margin-right: 25px;
    padding: 35px 0;
    color: #222 !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
    z-index: 99999;
}

.sticky-top.navbar-white .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-white .navbar-nav .nav-link:hover,
.navbar-white .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}




@media (max-width: 991.98px) {
    .sticky-top.navbar-white {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-white .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-white .navbar-nav .nav-link,
    .sticky-top.navbar-white .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-white .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-white {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-white {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-white .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-white .navbar-nav .nav-link:hover::before,
    .navbar-white .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-white .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}


/*** Hero Header
.hero-header {
	display: flex;
    justify-content: center; 
    align-items: center;

}

.video-background {
    position: relative;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 20px;
}

 ***/

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Destination ***/
.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
}


/*** Package ***/
.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.package-item img {
    transition: .5s;
}

.package-item:hover img {
    transform: scale(1.1);
}


/*** Booking ***/
.booking {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/booking.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.team-item .btn:hover {
    background: var(--primary);
    color: #FFFFFF;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
a {
	text-decoration: none;
}
#hashtaglink {
	text-align: center;
	margin: 5px;
	font-size:20px;
	
}
#hashtaglink a {
	text-align: center;
	margin-left: 20px;
}
.s-txt1 {
	text-align: center;
    height: 42px;
    font-weight: 700;
    font-size: 20px;
    float: left;
    color: #787E8B;
    padding-right: 20px;
    margin-left: 20px;
}
.s-txt2 {
	text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #C4C8CE;
    float: left;
    margin: 10px 0px 0px 30px;
}
/*
 .btn-6c img {
        margin-bottom: 10px;
    }

    .btn-6c lable {
        display: block;
        white-space: nowrap;
        font-size: 12px;
    }

    .btn-6c {
        display: flex;
        color: #ffffff;
        background: #ffffff;
        position: relative;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        border: 1px solid var(--color-bs-gray-300);
        width: 100px;
        height: 100px;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        line-height: 24px;
    }*/
    
    .tagify {
   		width: 80%;
    }
    /*사이드 랭킹바 만든 css*/
    .tsbutton {
		display: block;
		border-radius: 4px;
		text-decoration: none;
		text-align: center;
		color: #fff;
		background-color: #0071fc;
		padding: .5em
	}
	/*
	.maints {
		margin: 1em 0em 1em 1em;
	}
	.tsidebar {
		padding: 16px 1em;
		margin-bottom:10px;
	}
	.tsidebar .unlist li {
	    position: relative;
	    display: flex;
	    width: 100%;
	    height: 80px;
	    margin: 0 0 20px 0;
	    background-color: #ffffff;
	    border-radius: 8px;
	    align-items: center;
	}

	.tsidebar .unlist li img{
	    width: 50px;
	    height: 35px;
	    text-align: center;
	}
	.tsidebar .unlist li p {
		margin:5px;
	}
	
	@media (min-width:1000px) {
		.tscontainer {
			max-width: 80%;
			margin: 0 auto 0 auto;
			position: relative;
		 	justify-content: center;

		}
		.maints {
			display: inline-block;
			width: 78%;
			vertical-align: top;
			margin: 0px 20px 0px 20px;
		}
		.tsidebar {
			display: inline-block;
			width: 16%;
			vertical-align: top;
			margin: 0px 0px 0px 20px;
		}
		.fixedsticky {
			margin-top: 0px;
		}
	}
	*/
	aside > div {
	  border: 2px solid #ccc;
	  border-radius: 10px;
	  padding: 10px;
	  background-color: white;
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	  margin-bottom: 20px;
    }
	.gCSEJp {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        width: 900px;
        padding: 20px 20px;
        justify-content: center;
        margin: 80px 50px 50px 1000px;
    }
    .gCSEJp > h1 {
        display: block;
	    width: 100%;
	    margin-top: 20px;
	    color: white;
	    font-weight: 700;
	    font-size: 40px;
	    line-height: 1;
	    padding: 7px 0px 0px 5px;
	    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .ktaGqG {
        display: inline-block;
        width: calc(100% - 10px);
        transform: translateX(10px);
        height: 250px;
        background-color: rgb(198, 198, 198);
        border-radius: 20px;
        margin-bottom: 20px;
        list-style-type: none;
        position: relative;
    }
    .jZuajW {
        position: absolute;
        left: -10px;
        z-index: 5;
        display: flex;
        flex-direction: column;
        top: 50%;
        transform: translateY(-50%);
        height: 110px;
        width: 25px;
        -webkit-box-align: center;
        align-items: center;
        justify-content: space-around;
    }
    .hBxOSS {
        cursor: pointer;
        border-radius: 20px;
        height: 250px;
        box-shadow: rgba(101, 101, 101, 0.3) 2px 2px 4px 4px;
    }
    .iJGurJ {
        position: relative;
        height: 100%;
        border-bottom: none;
        background-color: #fff8f5;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 86%;
        padding: 15px 0px 15px 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .qwdfe{
    	position: absolute;
    	top:100px;
    	right: 5px;
    	width: 150px;
    	height: 150px;
    }
    .enbDhJ1{
    	font-size: 25px;
        font-weight: bold;
        height: 22px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: flex-start;
        border-radius: 10px;
        color: black;
    }
    .enbDhJ {
    	font-size: 18px;
        font-weight: bold;
        height: 22px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: flex-start;
        border-radius: 10px;
        color: black;
    }
    .jeiOCr1{
    	position: absolute;
    	top:70px;
    	right: 30px;
    	font-size: 80px;
    	font-weight:bold;
    	color: #EF605D;
    	margin-bottom: 20px;
    }
    .jeiOCr{
    	text-align:center;
    	font-size: 25px;
    	font-weight:bold;
    	color: black;
    	margin-bottom: 20px;
    }
    .ZyIFk1{
    	 text-align:left;
        font-weight:bold;
        color: #7b7b7b;
        margin-right: 200px;
    }
    .ZyIFk {
        text-align:right;
        font-weight:bold;
        color: black;
        margin-right: 20px;
        z-index: 300;
    }
    .maints > div{
    	justify-content: center;
    }
    /*
    section {
	  background: linear-gradient(to bottom, #ffffff, #FFFAFA);	  
	}

    .section .content {
        width: 100%;
        margin: 10px;
        text-align: center;
        position: relative;
    }*/
    .section1-2b{
    	margin: 60px 0px 50px 100px;
    }
    
    .section1-2b .txt1 {
        font-weight: 700;
        font-size: 30px;
        color: #101219;
    }
    .section1-2b .ingredient-wrap {
 		display:flex;
 		flex-wrap: wrap;
        width: 100%;
        margin-top: 15px;
        justify-content:center; 
        align-items: center;
    }
    .section1-2b .txt1 span {
        color: #EF605D;
    }
    .section1-2b .ingredient-wrap .ingredient-one .txt-fix {
	    display: table-cell;
	    vertical-align: middle;
	    height: 120px;
	    font-weight: bold;
	    font-size: 18px;
	    line-height: 20px;
	    color: #101219;
	    text-align: center;
	    width: 100%;
	}
    .section1-2b .ingredient-wrap .ingredient-one {
        width: calc(20%);
        height: 80px;
        margin: 10px;
        float: left;
        border-radius: 20px;
        box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.1);
        text-align: center;
        background: #FFFFFF;
        display: table;
        border: 1px solid #E6E9ED;
    }

    .section1-2b .more-pop-ingredient {
        float: right;
        font-weight: bold;
        font-size: 16px;
        line-height: 1;
        text-align: right;
        margin: 10px 0px 0px 20px;
        text-decoration: underline;
        color: #9BA1AA;
        cursor: pointer;
    }
    .ingredient-wrap a{
  		flex-basis: 16%;
    	text-align: center;
        text-decoration:none; 
    }
    /*3번째 div 목록
    .section1-2e {
		margin: 30px;
        width: 95%;
    }
    .section .content {
        margin: 0px auto;
        text-align: center;
        position: relative;
    }*/
    .section1-2e .txt1 {
        display: block;
        color: #9BA1AA;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
    }
    .section1-2e .txt2 {
        display: block;
        font-weight: 700;
        color: #101219;
        font-size: 26px;
        text-align: center;
        line-height: 34px;
        margin: 10px 0px 28px;
    }
    .section1-2e .txt2 span {
        color: #EF605D;
    }
    .section1-2e .swiper-container2 {
        overflow: hidden;
        width: calc(100% + 20px);
        padding: 0px 0px 80px;
        transform: translateX(-10px);
    }
    .u510{
        display: none;
    }
    .slideriview {
    	border-radius: 20px;
    	box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.1);
    }

     .mainMap {
         position: relative;
         width:1100px;
         z-index: 10;
         height: 500px;
         border: 1px solid #ccc;
         margin-right: 200px;

     }
      .mainMap button{
       	   display: block;
           z-index: 99;
           background-color: white;
           width: 180px;
       	   height: 60px;
           position: absolute;
           cursor: pointer;
           border: 1px solid #ccc;
           border-radius: 20px; 
           text-align: center;
           top: 20px;
           right: 10px;
       }
      .mainMap button:hover {
      		background-color: #FDCDBC;
          	color: black;
          	font-weight: bold;
      }
      
      .mainMap button span {
      	 vertical-align:middle;
      	 color: #EF605D;
      	 font-weight: bold;
      	 text-align: center;
      	  font-size: 14px;
      }
      /* 맵에 레이어 부분 css*/
      .mainMap .mapLayer {
      		display: block;
            margin-inline-start: 20px;
            position: absolute;
            top: 100px;
            left: 0px;
            z-index: 10;
            padding: 30px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 2px 2px 3px gray;
        }
        .mapLayer h2 {
            color: #EF605D;
            overflow: hidden;
            margin-bottom: 5px;
            font-weight: bold;
        }
        .mainMap a {
            display: block;
            width: 300px;
            height: 48px;
            margin-top: 10px;
            border: 1px solid #ccc;
            font-size: 18px;
            text-align: center;
            line-height: 48px;
            border-radius:15px;
            vertical-align: middle;
            text-decoration: none;
            font-weight:bold;
            color:#EF605D;
        }
          .mainMap a:hover {
          	background-color: #FDCDBC;
          	color: black;
          	font-weight: bold;
          }

        .closeLayerButton {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;

            border-radius: 30px; 
        }
     
   /*지도 모달 css */
   .modal-content {
   	align-content: center;
   	vertical-align: middle;
   }

.map_wrap, .menu_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:600px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:30%;margin:10px 0 10px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

/* 페이지 4 */ 
.section1-2c {
	margin: 50px 0px;
}
.section1-2c .content {
    padding: 10px 10px;
    width: 900px;
    margin: 20px 970px 30px 20px;
    text-align: center;
    position: relative;
    display: block;
    border-radius: 10px;
}

.section1-2c .txt1 .lottie1 {
    width: 36px;
    height: 36px;
    float: left;
    display: block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}
.section1-2c .content .txt1 {
    display: block;
    width: 100%;
    margin-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    padding: 7px 0px 0px 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.section1-2c .txt2 {
    display: block;
    color:gray;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    text-align: left;    
}
.section1-2c .banner-wrap {
    background: #FDCDBC;
    border-radius: 20px;
    height: 180px;
    display: block;
    margin: 20px 0px 0px;
    position: relative;
}
.section1-2c .banner-wrap .banner-txt1 {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: #535968;
    padding: 20px 0px 0px;
}
.section1-2c .banner-wrap .banner-txt2 {
    font-weight: 800;
    text-align: center;
    font-size: 34px;
    color: #535968;
    padding: 0px 0px 0px;
    line-height: 42px;
}
.section1-2c .banner-wrap .banner-txt2 span {
    background: linear-gradient(60deg, #EF605D 0%, #f38056  85.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.section1-2c .banner-wrap .banner-bg {
    position: absolute;
    width: 397px;
    height: 204px;
    left: calc(50% - 198px);
    z-index: 40;
    top: 9px;
}
.section1-3 {
    background: #F8F8FA;
}
.section1-3 .content {
    padding: 80px 0px;
}
.section1-3 .txt1 {
    display: block;
    color: #9BA1AA;
    font-weight: 700;
    font-size: 26px;
    line-height:1;
}
.section1-3 .txt2 {
    display: block;
    color: #535968;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    margin-top: 20px;
}
.section1-3 .txt3 {
    display: block;
    color: #101219;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    margin-top: 20px;
}
.section1-3 .txt3 span {
    color: #EF605D;
}
.section1-5 {
    background: white;
}
.section1-5 .content {
    padding: 50px 0px 60px;
}
.section1-5 .txt1 {
    display: block;
    color: #101219;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
}
.section1-5 .txt2 {
    display: block;
    color: #101219;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
    position: relative;
}
.section1-5 .rl-companies {
    margin: 30px auto 0px;
    display: inline-block;
}
.section1-5 .rl-companies .rl-company {
    float: left;
    width: 186px;
    margin: 0px 0px 40px 40px;
    height: 186px;
    box-shadow: 2px 2px 8px rgba(70, 56, 147, 0.1);
    border-radius: 93px;
    font-size: 0;
}
.section1-5 .rl-company.rl-company1 {
    background: #fff url(https://cdn.pillyze.io/web/img/c-logo1.webp) center no-repeat;
    background-size: 155px 88px;
}
.section1-5 .rl-company.rl-company2 {
    background: #fff url(https://cdn.pillyze.io/web/img/c-logo2.webp) center no-repeat;
    background-size: 158px 89px;
}
.section1-5 .rl-company.rl-company3 {
    background: #fff url(https://cdn.pillyze.io/web/img/c-logo3.webp) center no-repeat;
    background-size: 161px 91px;
}
.section1-5 .rl-company.rl-company4 {
    background: #fff url(https://cdn.pillyze.io/web/img/c-logo4.webp) center no-repeat;
    background-size: 155px 100px;
}
.section1-5 .rl-company.rl-company5 {
    background: #fff url(https://cdn.pillyze.io/web/img/c-logo5.webp) center no-repeat;
    background-size: 143px 106px;
}
.section1-5 .rl-company.rl-company6 {
    background: #fff url(https://cdn.pillyze.io/web/img/c-logo6.webp) center no-repeat;
    background-size: 141px 104px;
}


/*5번째 다이브 스타일*/
.section20-2-home{
	margin: 10px 0px 100px;
	justify-content: center;
}
.section20-2-home .content {
    width: 100% !important;
    max-width: 1000px !important;
    height: 500px;
    margin: 30px;
    text-align: center;
    position: relative;
    justify-content: center;
    flex-direction: column;
}
.qna-mark-home {
	font-size:42px;
	display:inline;
    color:#EF605D;
    width: 50px;
    height: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.get-20-2 {
	display: block;
    width: 100%;
    margin:20px 0px 30px 0px;
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    padding: 7px 0px 0px 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.qna-list-wrap {
    width: 90%;
    height: auto;
    display: block;
    margin-left: 100px;
}
.qna-card {
    width: 85%;
    height: 200px;
    display: block;
    padding: 0px 20px 20px 20px;
    background: #FFFFFF;
    border: 1px solid #E6E9ED;
    box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.1);
    border-radius: 20px;
    margin: 20px 20px 0px;
    text-align: left;
}
.qna-card .ingredient-tags {
    display: block;
    width: 100%;
    margin: 0px 0px 10px;
}
.qna-card .ingredient-tags .ingredient-tag {
    background: #FDCDBC;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #EF605D;
    font-weight: 500;
    display: inline-block;
    padding: 0px 5px;
    border-radius: 5px;
    font-size: 12px;
    float: left;
    margin: 0px 10px 0px 0px;
}
.qna-main {
    display: block;
    width: 100%;
    text-decoration: none;
}
.qna-card .qna-main .txt1 {
    font-weight: 700;
    display: block;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    color: #101219;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.qna-card .qna-main .txt1 .qmark {
    color: #EF605D;
}
.qna-card .qna-main .txt2 {
    font-weight: 600;
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #787E8B;
    margin: 8px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.qna-card .qna-user-wrap {
    display: block;
    width: 100%;
    margin: 20px 0px 0px;
}
.qna-card .qna-user-wrap .qna-user-icon.qna-user-icon-1 {
    border-radius: 50%;
    background: url(https://cdn.pillyze.io/web/img/user-s-1.webp) center no-repeat;
    background-size: contain !important;
}
.qna-card .qna-user-wrap .qna-user-icon {
    width: 30px;
    height: 30px;
    float: left;
}
.qna-card .qna-user-wrap .qna-user-txt {
    float: right;
    width: calc(100% - 40px);
    font-weight: 600;
    color: #282a35;
    text-align: left;
    line-height: 24px;
    font-size: 16px;
    overflow: hidden;
    padding: 3px 0px 0px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.qna-card .qna-user-wrap .user-info-row {
    display: block;
    width: 100%;
    margin: 20px 0px 0px;
    float: left;
}
.qna-card .qna-user-wrap .user-info-row .user-name {
    color: #787E8B;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}
.qna-card .qna-user-wrap .user-info-row .user-agesex {
    color: #9BA1AA;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}
.clearfix {
    display: block;
}
.more-qna {
    float: right;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: right;
    margin: 20px 40px 0px;
    text-decoration: underline;
    color: #9BA1AA;
}

/* *번째 다이브 css*/
.section6 {
	margin: 50px 30px;
	
}

.section1-2s{
	  margin: 0px 0px 50px;
}
.section1-2s .content {
    padding: 0px 20px 20px;
    width: auto;
    max-width: 1200px;
    height: 700px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
.section1-2s .txt2 {
    display: block;
    font-weight: 700;
    color: #101219;
    font-size: 26px;
    text-align: center;
    line-height: 34px;
    margin: 0px 0px 40px;
}
.section1-2s .txt2 span {
    color: #EF605D;
}
.ranking-190 .tab-content.active {
    display: block;
    position: relative;
    padding: 0px;
    text-align: center;
    font-weight: bold;
    margin: 0px 0px 0px !important;
}
.ranking-190 .width-flt1 .filter-btns {
    padding: 0px 0px 0px 0px;
}
.ranking-190 .width-flt1 .filter-btns-in {
    position: relative;
    font-size: 0;
    text-align: left;
    overflow-x: auto;
    white-space: nowrap;
}
.ranking-190 .width-flt1 .filter-btns .filter-btn.active {
    color: #fff;
    background: #EF605D;
}
.ranking-190 .width-flt1 .filter-btns .filter-btn {
    display: inline-block;
    margin: 0px 10px 10px 0px;
    padding: 0px 15px;
    background: #FFFFFF;
    border: 1px solid #E6E9ED;
    border-radius: 24px;
    line-height: 45px;
    height: 42px;
    color: #9BA1AA;
    font-weight: 500;
    font-size: 18px;
}
.ranking-190 .width-flt1 {
    padding: 30px 0px 0px;
    text-align: center;
}
.ranking-190 .filter-btns2 {
    transform: translateX(-20px);
    width: calc(100% + 80px);
}
.ranking-190 .filter-btns2 .filter-btns-in {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}
.ranking-190 .filter-btns2 .filter-btn:first-child {
    margin: 0px 10px 0px 20px;
}
.ranking-190 .filter-btns2 .filter-btn.active .icon {
    background: #F4F2FF;
}
.ranking-190 .filter-btns2 .filter-btn-b001.active .icon {
    border: 2px solid #FDCDBC;
}
.ranking-190 .filter-btns2 .filter-btn .icon {
    display: block;
    width: 70px;
    height: 70px;
    box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.1);
    background: #fff;
    border: 2px solid #fff;
    margin: 0px 0px 10px;
    border-radius: 20px;
    text-align: center;
    padding: 13px 0px 0px;
}
.ranking-190 .filter-btns2 .filter-btn.filter-btn-b001 .icon span {
    background: linear-gradient(148.15deg, #A084FF 12.96%, #EF605D 83.48%);
}
.ranking-190 .filter-btns2 .filter-btn.filter-btn-b002 .icon span {
    background: linear-gradient(148.15deg, #8CF8AD 12.96%, #15E74E 83.48%);
}
.ranking-190 .filter-btns2 .filter-btn.filter-btn-b003 .icon span {
    background: linear-gradient(148.15deg, #94FFFF 12.96%, #00C7C7 83.48%);
}
.ranking-190 .filter-btns2 .filter-btn.filter-btn-b004 .icon span {
    background: linear-gradient(148.15deg, #92E5FF 12.96%, #1AA7EC 83.48%);
}
.ranking-190 .filter-btns2 .filter-btn.filter-btn-b005 .icon span {
    background: linear-gradient(148.15deg, #B3D6FF 12.96%, #0076FF 83.48%);
}
.ranking-190 .filter-btns2 .filter-btn.filter-btn-b006 .icon span {
    background: linear-gradient(148.15deg, #8FB1FF 12.96%, #0041D5 83.48%);
}
.ranking-190 .filter-btns2 .filter-btn.filter-btn-b007 .icon span {
    background: linear-gradient(148.15deg, #FFEA8D 12.96%, #FFB800 83.48%);
}
.ranking-190 .filter-btns2 .filter-btn .icon span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #000;
    text-align: center;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.ranking-190 .filter-btns2 .filter-btn .txt1 {
    text-align: center;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #787E8B;
}
.ranking-190 .filter-btns2 .filter-btn {
    display: inline-block;
    padding: 10px 0px 0px;
    margin: 0px 10px 0px 10px;
}
.ranking-190 .item-cards {
    width: calc(100% + 20px);
    justify-content: center;
}
.ranking-190 .item-card {
    width: 170px;
    margin: 20px 10px 0px 10px;
    display: block;
    position: relative;
    border: 1px solid #E6E9ED;
    box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.1);
    border-radius: 20px;
    background: #fff;
    height: 280px;
    float: left;
    padding: 0px 20px;
}
.ranking-190 .ranking-no {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 50;
}
.ranking-190 .ranking-no img {
    width: 40px;
    height: 40px;
}
.ranking-190 .item-card .item-img {
    width: 130px;
    height: 130px;
    display: block;
    margin: 20px auto 0px;
    border:none;
}
.ranking-190 .item-card .txt1 {
    font-weight: 500;
    display: block;
    font-size: 14px;
    color: #9BA1AA;
    text-align: left;
    margin: 30px 0px 0px;
}
.ranking-190 .item-card .txt2 {
    font-weight: 700;
    color: #101219;
    display: block;
    font-size: 18px;
    text-align: left;
    line-height: 27px;
    margin: 4px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ranking-190 .item-card .review {
    margin-top: 10px;
}
.ranking-190 .item-card .review .star-point {
    float: left;
    font-weight: 700;
    font-size: 17px;
    color: #535968;
    text-align: left;
    line-height: 20px;
    background: url(https://cdn.pillyze.io/web/img/star-icon.webp) left 2px no-repeat;
    background-size: 16px 15px;
    padding-left: 20px;
    height: 20px;
}
.ranking-190 .item-card .review .txt3 {
    float: left;
    font-weight: 500;
    line-height: 19px;
    height: 20px;
    color: #9BA1AA;
    font-size: 16px;
    margin: 0px 0px 0px 10px;
}

.item-cards .item-card .card-tags {
    margin: 10px 10px 0px;
    max-height: 80px;
    overflow: hidden;
}
.ranking-190 .item-card .tag-type3 .card-tag {
    background: #EFFFFF;
    border: none;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    clear: both;
}
.item-cards .item-card .card-tags .card-tag {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #D6D9E0;
    height: 30px;
    line-height: 28px;
    text-align: center;
    padding: 0px 15px;
    border-radius: 15px;
    color: #535968;
    font-weight: 500;
    margin-bottom: 10px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ranking-190 .item-card .tag-type3 .card-tag span {
    font-weight: 700;
}
.section1-2s .more-pop-health {
    float: right;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: right;
    margin: 20px 0px 0px;
    text-decoration: underline;
    color: #9BA1AA;
}
.mainInner h3 {
	display: block;
    width: 100%;
    margin-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    padding: 7px 0px 0px 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/*메인 배너 스타일*/
#tsmain{
	min-height: 800px;
	max-height: 940px;
	height: 100%;
}
.everybanner1{
    display: flex; 
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
    width:100%; 
}
.everybanner1-1 {
    width: 90%;
    min-height: 350px;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url("http://www.kbpharma.co.kr/images/pc/facility/img_qaqc1.png");
    background-size: cover;
    border-radius: 10px;
}
/*슬라이드쇼*/

.tststs {
	display: block;
    width: 100%;
    margin-top: 50px;
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    padding: 7px 0px 0px 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.tscacontainer{
	margin: 120px auto 200px;
	width: 220px;
	height: 240px;
	position: relative;
	perspective: 2000px;
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 30s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 260px;
    height: 240px;
	left: 10px;
	top: 10px;
	overflow: hidden;
	border: solid 2px black;
}
#carousel figure:nth-child(1) { transform: rotateY(0deg) translateZ(500px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(500px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(500px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(500px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(500px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(500px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(500px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(500px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(500px);}

#carousel img{
	 cursor: pointer;
	 transition: all .5s ease;
 }
#carousel img:hover{
	-webkit-filter: grayscale(0);
  	transform: scale(1.08,1.08);
}

@keyframes rotation{
	
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}

/* fadeInLeft와 fadeInRight 애니메이션 정의 */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 애니메이션 클래스 초기 설정 */
.tssection .animatedleft,
.tssection .animatedright {
  opacity: 0;
}

/* 애니메이션 클래스 적용 */
.tssection .animatedleft.fadeInLeft,
.tssection .animatedright.fadeInRight {
  opacity: 1;
  animation-fill-mode: forwards; /* 애니메이션이 종료된 후 마지막 상태를 유지하도록 설정 */
  animation-duration: 3s; /* 애니메이션 지속 시간 설정 */
}
